/*bases*/
html,
body {
  height: 100%;
}

body {
  font-family: map-get($font-names, regular);
  background-color: rgba(239, 246, 252, 0.7);
}

a {
  color: #5a6670;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input:focus {
  outline: none;
}

.wrapper {
  display: flex;
  position: relative;
  height: 100%;
  padding-left: 60px;
  transition: padding 0.2s ease-in-out;

  &.active {
    padding-left: 260px;
  }

  &__content {
    width: 100%;
  }

  &__outlet {
    height: calc(100% - 55px);
    overflow-y: auto;
  }
}
